.DesktopNavbar {
  display: none !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  z-index: 5;
}

.MobileNavbar {
  margin-top: 0 !important;
  border: none !important;
}

.Item {
  color: #656565 !important;
  font-size: 1.4rem;
}

@media (min-width: 800px) {
  .DesktopNavbar {
    display: flex !important;
  }

  .MobileNavbar {
    display: none !important;
  }
}
