.SearchResult {
  padding: 5rem 10rem;
}

.Results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Results :last-child {
  margin-bottom: 1em !important;
}

.green {
  color: lightgreen;
}

.yellow {
  color: yellow;
}
.red {
  color: red;
}
