.SearchResult {
  padding: 4rem 2rem;
  color: #656565;
  margin-bottom: 5rem;
}

.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Results :last-child {
  margin-bottom: 1em !important;
}

.green {
  color: lightgreen;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

@media (min-width: 800px) {
  .SearchResult {
    padding: 5rem 10rem;
    margin-bottom: 0;
  }

  .Results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
